<app-card title="Dashboard">
    <div content>
        <div class="grid grid-cols-2 place-items-center px-3">
            <div class="dashboard-img-div transitiona-all ease-in-out">
                <img src="assets/tempPic.png" class="br-full rounded-full border border-gray-100 shadow-sm transition-all ease-in-out" />
            </div>
        <div class="w-full">
            <h3 class="mb-5 text-center text-lg dark:text-white">
                Welcome back, Ian!
            </h3>
            <button mat-raised-button (click)="visitUpdateName()" color="primary" class="mb-4 w-10/12">Update Name</button>
            <button mat-raised-button (click)="visitUpdateBio()" color="primary" class="w-10/12">Update Bio</button>

        </div>
    </div>
</div>  
    <div action class="grid-cols-1 w-full">
    <button mat-raised-button (click)="visitPage()"  class="mb-4 w-full" color="primary">View Page</button>
    <button (click)="visitUpdateSocials()" mat-raised-button class="mb-4 w-full" color="primary">Update Socials</button>
</div>
</app-card>
