<div class="container">
    <mat-card class="card scroll-card">
        <mat-card-title >Update Socials</mat-card-title>
        <mat-card-content>
            <div class="updateContainer w-100  divide-y">
                <div class="w-full py-3" *ngFor="let social of socials"> 
                    <div class="grid grid-flow-col items-center ">
                        <fa-icon class="fa-2x icon" [icon]="fetchIcon(social.name)"></fa-icon>
                        <mat-form-field  appearance="outline" class="px-5 mt-3">
                            <mat-label>{{social.name}}</mat-label>
                            <input matInput  [placeholder]="social.url">
                        </mat-form-field>
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="actions flex flex-col">
            <div class="grid grid-cols-1">
            <button [disabled]="true"  class="mb-3" mat-raised-button color="primary">Update Socials</button>
            <button routerLink=".." mat-button color="primary"> Back</button>
        </div>
        </mat-card-actions>
    </mat-card>
</div>