
<div *ngIf="!userService.loading && userService.userData != undefined">
<mat-card-header class=" mb-5">
    <mat-card-title class="text-3xl">
        Update Socials
    </mat-card-title>
</mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
            <section class="place-items-center overflow-y-auto max-h-96 w-100  divide-y grid items-center overflow-x-hidden">
                <div class="w-full py-1 max-w-fit" *ngFor="let social of SocialList"> 
                    <div class="grid grid-flow-col items-center ">
                        <fa-icon class="fa-2x icon" [icon]="fetchIcon(social)"></fa-icon>
                        <mat-form-field  appearance="outline" class="px-5 mt-2">
                            <mat-label>{{social}}</mat-label>
                            <input matInput [value]="this.getURL(social)" (keyup)="this.updateURL(social, $event)" [placeholder]="social">
                        </mat-form-field>
                        <mat-slide-toggle color="primary" (change)="this.toggleSocial(social)" [checked]="this.isChecked(social)"></mat-slide-toggle>
                    </div>
                </div>
            </section>
            <mat-divider></mat-divider>
            <button color="primary" type="submit" class="max-w-xs w-4/5 my-5" (click)="this.submit()" [disabled]="this.buttonDisable()" mat-raised-button>Update Socials</button>
            <button color="accent" routerLink=".." class="max-w-xs w-4/5 mb-5" mat-raised-button>Back</button>
        </mat-card-content>
    </div>