<mat-spinner *ngIf="this.userService.loading"></mat-spinner>
<mat-card  *ngIf="!this.userService.loading && this.userService.userData != undefined" class="card text-center">
    <router-outlet></router-outlet>
    <div *ngIf="this.location.path() === '/dashboard'">
    <mat-card-header class=" mb-5">
        <mat-card-title class="text-3xl">
            Dashboard
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="justify-center">
    <img class="border-solid border-1 border-gray-500 w-32 h-32 object-cover rounded-full hover:brightness-50 transition-all ease-in-out hover:cursor-pointer" (click)="this.updatePicture()" [src]="this.userService.profileImg" />
    <mat-card-subtitle class="text-lg pb-2">
     Welcome back, {{userService.userData.first_name}}!
    </mat-card-subtitle>
    <mat-divider class="pb-5"></mat-divider>
    <button routerLink="update-email" color="primary" class="max-w-sm w-4/5 mb-5" mat-raised-button>Update Email</button>
    <button routerLink="update-password" color="primary" class="max-w-sm w-4/5 mb-5" mat-raised-button>Update Password</button>
    <mat-divider class="pb-5"></mat-divider>
    <button routerLink="update-name" color="primary" class="max-w-sm w-4/5 mb-5" mat-raised-button>Update Name</button>
        <button routerLink="update-bio" color="primary" class="max-w-sm w-4/5 mb-5" mat-raised-button>Update Bio</button>
        <button routerLink="update-socials" color="primary" class="max-w-sm w-4/5 mb-5" mat-raised-button>Update Socials</button>
        <mat-divider class="pb-5"></mat-divider>
    <button color="accent" [routerLink]="'/' + userService.userData.code" class="max-w-sm w-4/5 mb-5" mat-raised-button>View Page</button>
    <button color="accent" routerLink="register-codes" *ngIf="this.userService.userData.role === 'admin'" class="max-w-sm w-4/5 mb-5" mat-raised-button>Register New Codes</button>
    </mat-card-content>
</div>
    </mat-card>