<section  class="grid text-center place-items-center ">
<h1 class="pb-5">Welcome to Social Tap!</h1>
<h3>Meet the team</h3>
<section class="py-5 flex">
    <div>
    <img class="w-40 object-cover hover:brightness-75 hover:w-48 ease-in-out transition-all  mx-5 h-auto rounded-full aspect-square" src="/assets/devpics/ian.jpeg">
    <p class="pt-2">Ian Blasko</p>
</div>
    <mat-divider [vertical]="true"></mat-divider>

    <div>
        <img class="w-40 object-cover hover:brightness-75 hover:w-48 ease-in-out transition-all  mx-5 h-auto rounded-full aspect-square" src="/assets/devpics/elsa.png">
        <p class="pt-2">Elsa Osmani</p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div>
    <img class="w-40 object-cover hover:brightness-75 hover:w-48 ease-in-out transition-all  mx-5 h-auto rounded-full aspect-square" src="/assets/devpics/jason.jpg">
    <p class="pt-2">Jason Liang</p>
</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div>
    <img class="w-40 object-cover hover:brightness-75 hover:w-48 ease-in-out transition-all  mx-5 h-auto rounded-full aspect-square" src="/assets/devpics/ian.jpeg">
    <p class="pt-2">Kurtis Gnapp</p>
</div>
</section>
<div>
<p class="py-5">Social Tap is an application that allows users to share their social media/professional platforms using an NFC sticker.</p>
<mat-divider></mat-divider>
<p class="py-5">Please use the buttons below to begin navigating the site.</p>
</div>
<button mat-raised-button color="primary" routerLink="appl" class="mb-5 w-48">View Example Page</button>
<button mat-raised-button color="accent" (click)="gitHub()" class="mb-5 w-48">View GitHub</button>
</section>