<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card  *ngIf="!loading" class="card max-w-md text-center">
  <mat-card-header class=" mb-5">
    <mat-card-title class="text-3xl">
        Sign In
    </mat-card-title>
</mat-card-header>
<mat-card-content class="justify-center">
  <mat-divider class="pb-5"></mat-divider>
<form *ngIf="!loading" [formGroup]="form"  (submit)="this.userService.login(this.form)">

      <mat-form-field appearance="outline" class="max-w-xs w-4/5" >
        <mat-label>Email Address</mat-label>
        <input matInput type="email" id="inputEmail" formControlName="email"  placeholder="Email address" required autofocus>
      </mat-form-field>
      <mat-form-field appearance="outline" class="max-w-xs w-4/5">
        <mat-label>Password</mat-label>
        <input matInput type="password"  formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </mat-form-field>
      <mat-divider class="pb-5"></mat-divider>
      <button type="submit" class="max-w-sm w-4/5 mb-5"  mat-raised-button color="primary">Sign In</button>
    </form>
    </mat-card-content>
    </mat-card>