<div class="container">
    <mat-card class="card">
        <mat-card-title >Update Bio</mat-card-title>
        <mat-card-content>
            <div class="pb-10">
                <h4>Current Bio:</h4>
                <p>This is my bio.</p>
            </div>
            <mat-form-field class="w-3/4" appearance="fill">
                <mat-label>New Bio</mat-label>
                <textarea [(ngModel)]="this.Bio" matInput placeholder="John Doe" rows="5"></textarea>
            </mat-form-field>
            
        </mat-card-content>
        <mat-card-actions class="actions flex flex-col">
            <div class="grid grid-cols-1">
            <button [disabled]="this.Bio === '' || this.Bio === 'Ian Blasko'"  class="mb-3" mat-raised-button color="primary">Update Bio</button>
            <button routerLink=".." mat-button color="primary"> Back</button>
        </div>
        </mat-card-actions>
    </mat-card>
</div>