<div *ngIf="!userService.loading && userService.userData != undefined">
<mat-card-header class=" mb-5">
    <mat-card-title class="text-3xl">
        Update Name
    </mat-card-title>
</mat-card-header>
<mat-card-content class="justify-center">
<mat-card-subtitle class="text-lg pb-2">
    Current Name: {{ userService.userData.first_name + " "  + userService.userData.last_name}}
</mat-card-subtitle>
<mat-divider class="pb-5"></mat-divider>
<form [formGroup]="form" (submit)="this.userService.updateName(this.form)">
<mat-form-field appearance="outline" class="max-w-xs w-4/5">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="first_name"  placeholder="John">
  </mat-form-field>
  <mat-form-field class="max-w-xs w-4/5" appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Doe" formControlName="last_name"   >
  </mat-form-field>
  <mat-divider class="pb-5"></mat-divider>
<button [disabled]="disable()" color="primary" type="submit" class="max-w-xs w-4/5 mb-5" mat-raised-button>Update Name</button>
</form>
<button  color="accent" routerLink=".." class="max-w-xs w-4/5 mb-5" mat-raised-button>Back</button>
</mat-card-content>
</div>