<mat-card-header class=" mb-3">
    <mat-card-title class="text-3xl">
        Update Password
    </mat-card-title>
</mat-card-header>
<mat-card-content class="justify-center">
<mat-divider class="pb-5"></mat-divider>
<form [formGroup]="form" (submit)="submit()"> 
<mat-form-field appearance="outline" class="max-w-xs w-4/5">
    <mat-label>Old Password</mat-label>
    <input matInput formControlName="oldPassword" type="password" placeholder="••••••••">
  </mat-form-field>
  <mat-form-field class="max-w-xs w-4/5" appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput type="password"  formControlName="newPassword" placeholder="••••••••" >
  </mat-form-field>
  <mat-form-field class="max-w-xs w-4/5" appearance="outline">
    <mat-label>New Password Confirmation</mat-label>
    <input matInput type="password" formControlName="newPasswordConfirmation" placeholder="••••••••" >
  </mat-form-field>
  <mat-divider class="pb-5"></mat-divider>
<button color="primary" class="max-w-xs w-4/5 mb-5" mat-raised-button [disabled]="disable()" type="submit">Update Password</button>
</form>
<button color="accent" routerLink=".." class="max-w-xs w-4/5 mb-5" mat-raised-button>Back</button>
</mat-card-content>