<div *ngIf="!userService.loading && userService.userData != undefined">
<mat-card-header class=" mb-5">
    <mat-card-title class="text-3xl">
        Update Email
    </mat-card-title>
</mat-card-header>
<mat-card-content class="justify-center">
<mat-card-subtitle class="text-lg pb-2">
    Current Email: {{ userService.userData.email}}
</mat-card-subtitle>
<mat-divider class="pb-5"></mat-divider>
<form [formGroup]="form" (submit)="submit()">
<mat-form-field appearance="outline" class="max-w-xs w-4/5">
    <mat-label>New Email</mat-label>
    <input matInput formControlName="email" placeholder="johndoe@gmail.com">
  </mat-form-field>
  <mat-form-field class="max-w-xs w-4/5" appearance="outline">
    <mat-label>New Email Confirmation</mat-label>
    <input matInput formControlName="emailConfirmation" placeholder="johndoe@gmail.com">
  </mat-form-field>
  <mat-divider class="pb-5"></mat-divider>
<button color="primary" type="submit" [disabled]="disable()" class="max-w-xs w-4/5 mb-5" mat-raised-button>Update Email</button>
</form>
<button color="accent" routerLink=".." class="max-w-xs w-4/5 mb-5" mat-raised-button>Back</button>
</mat-card-content>
</div>